<?xml version="1.0" encoding="UTF-8"?>
<configuration>
   <system.webServer>
      <rewrite>
         <rules>
            <rule name="Match All" stopProcessing="true">
               <match url=".*" ignoreCase="false" />
               <conditions logicalGrouping="MatchAll">
                  <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                  <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
               </conditions>
               <action type="Rewrite" url="index.html" appendQueryString="true" />
            </rule>
         </rules>
      </rewrite>
      <!-- Cache default: 2h -->
      <staticContent>
         <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="0.02:00:00" />
      </staticContent>
      <!-- Deny source access -->
      <security>
        <requestFiltering>
          <hiddenSegments>
            <add segment=".git" />
            <add segment=".gitignore" />
            <add segment="Gruntfile.js" />
            <add segment="package.json" />
            <add segment="README.md" />
            <add segment="src" />
          </hiddenSegments>
        </requestFiltering>
      </security>
   </system.webServer>
   <!-- Static content: cache 30d -->
   <location path="static">
      <system.webServer>
         <staticContent>
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
         </staticContent>
      </system.webServer>
   </location>
</configuration>
