<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
  	<rewrite>
  	    <rules>
         	 <rule name="Match All" stopProcessing="true">
  	            <match url=".*" ignoreCase="false" />
         	     <conditions logicalGrouping="MatchAll">
  	                <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                	  <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
             	 </conditions>
              	<action type="Rewrite" url="index.html" appendQueryString="true" />
         	 </rule>
  	    </rules>
  	</rewrite>
    <!-- Cache default: 2h -->
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="0.02:00:00" />
    </staticContent>
  </system.webServer>

  <!-- Static content: cache 30d -->
  <location path="css">
    <system.webServer>
       <staticContent>
          <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
       </staticContent>
    </system.webServer>
  </location>
  <location path="js">
    <system.webServer>
       <staticContent>
          <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
       </staticContent>
    </system.webServer>
  </location>
  <location path="img">
    <system.webServer>
       <staticContent>
          <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
       </staticContent>
    </system.webServer>
  </location>
</configuration>