body {
  max-width: 960px;
  padding: 40px;
  margin: 0 auto;
  position: relative;
  overflow-x: hidden;
}
h1,h2 {
  font-weight:300;
  margin:0;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size:18px;
}
.header{
  text-shadow:0px 1px rgba(0,0,0,.3);
}
.header-title {
  float:left;
}
.header-desc {
  float:right;
  text-align: right;
  margin-top: 1em;
  font-weight: 300;
  letter-spacing: 1px;
}
.header-desc p {
  margin: 0 0 0.15em 0;
}
.header-desc a {
  color: #fff;
  text-decoration: none;
}
.content-main {
  background: rgba(255,255,255,0.75);
  color: #444;
  padding: 10px 20px;
  margin: 40px 0;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
}
.content-main.text {
  text-align: justify;
}
.content-main a {
  color:#444;
  text-decoration: none;
  font-weight:bold;
}
.content-main a:hover {
  text-decoration: underline;
}
.banner {
  text-align: center;
}
.footer {
  text-align: center;
  font-size:12px;
  text-transform: lowercase;
  transform: translateY(565px);
  transition: transform 0.2s ease-in;
}
.footer a {
  padding:20px;
  color:#fff;
}
.showcase h2 {
  font-size:32px;
  margin-top:1em;
  font-weight:500;
  text-shadow:0px 2px rgba(0,0,0,.2);
}
.left-arrow, .right-arrow {
  position: fixed;
  top: 0;
  height:100%;
  width:10%;
  max-width:70px;
  cursor:pointer;
  opacity:0;
  transition: opacity 0.2s ease-in-out;
}
.left-arrow div, .right-arrow div {
  position: absolute;
  top:50%;
  font-size:50px;
  margin-top:-50px;
}
.left-arrow {
  left:0;
}
.left-arrow div {
  left:15px;
}
.left-arrow:hover, .left-arrow.hover {
  opacity:1;
  background-image: linear-gradient(to right, rgba(0,0,0,0.5) 0%, transparent 100%);
}
.right-arrow {
  right:0;
}
.right-arrow div {
  right: 15px;
}
.right-arrow:hover, .right-arrow.hover {
  opacity:1;
  background-image: linear-gradient(to left, rgba(0,0,0,0.5) 0%, transparent 100%);
}
.left-arrow:hover, .right-arrow:hover {
  opacity:1 !important;
}
.page {
  position:relative;
}
[data-path] {
  position: absolute;
  width:100%;
  transform: translateX(4000px);
  display:none;
}
.hidden-left {
  transform: translateX(-4000px);
}
.hidden-right {
  transform: translateX(4000px);
}
.page-active {
  transform: translateX(0);
}
.animate {
  transition: transform 0.4s ease-in-out;
}
@media (max-width:640px) {
  .header {
    max-height: 70px;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
    text-shadow: 1px 1px 4px rgba(0,0,0,.3);
  }
  [data-active-page="/"] .header {
    /* show full header on homepage */
    max-height: 500px;
  }
  .header-title, .header-desc {
    float: none;
    text-align: center;
  }
  h1 {
    font-size:40px;
  }
  h2 {
    font-size:16px;
  }
  .mobile.headshot {
    max-width: 50%;
    margin-top:1em;
  }
  .content-main.text {
    text-align: left;
  }
  .desktop {
    display: none;
  }
  .left-arrow, .right-arrow {
    display:none;
  }
}
@media (min-width:640px) {
  .desktop.headshot {
    position: absolute;
    right: 10px;
    width: 150px;
    z-index:10;
    top:0;
  }
  .content-main:nth-of-type(1) p:nth-of-type(1) {
    /* don't allow text to be obscured by floating image */
    margin-right: 140px;
  }
  .mobile {
    display: none;
  }
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  }
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
